/* шрифт лежит в папке с css  тк если  положить в любую другую папку то шрифт не подключается */
@font-face {
  font-family: 'Inter';
  src: local('Inter'),
        url("Inter-Light.woff2") format("woff2");
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: local('Inter'),
        url("Inter-Regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: local('Inter'),
       url("Inter-Medium.woff2") format("woff2");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: local('Inter'),
        url("Inter-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}

