.base-btn {
  min-width: 40px;
  height: 40px;
  padding: 0 12px;
  border: 1px solid var(--color-mercury);
  box-shadow: var(--block-shadow);
  border-radius: 8px;
  transition: border 0.3s ease;
  background-color: var(--color-white);
  align-items: center;
  display: flex;
  justify-content: center;
  transform: translateZ(0)
}

.base-btn.btn-group {
  border: none
}

.header__filter-btn {
  justify-self: end; grid-column-start: 3;
}

.base-btn svg {
  margin-top: 4px;
  fill: var(--color-cod-gray);
  transition: fill 0.3s ease;
}

.base-btn:hover {
  background-color: var(--color-alabaster);
  transition: border 0.3s ease;
}

.base-btn:disabled {
  opacity: 0.7;
  cursor: not-allowed;
}

.base-btn span {
  color: inherit;
}
.base-btn--active {
  background-color: var(--color-alabaster);
}

.apply-btn {
  color: var(--color-white);
  background-color: var(--color-azure-radiance);
  border-radius: 8px;
  justify-self: end;
  display: flex;
  align-items: center;
  transition: fill 0.3s ease, background-color 0.3s ease;
}

.apply-btn svg {
  fill: var(--color-white);
  transition: fill 0.3s ease;
}

.apply-btn:hover {
  background-color: var(--color-azure-radiance) !important;
  opacity: 0.8;
  transition: background-color 0.3s ease;
}

.apply-btn:disabled {
  background-color: var(--color-azure-radiance);
}

.apply-btn:disabled {
  opacity: 0.4;
}

.back-btn {
  cursor: pointer;
}

.red-btn {
  background-color: var(--color-alizarin-crimson);
  color: var(--color-white);
  transition: background-color 0.3s ease, color 0.3s ease;
}

.red-btn:hover {
  background-color: #dd6868;
  color: var(--color-white);
  transition: background-color 0.3s ease, color 0.3s ease;
}

.green-btn {
  background-color: var(--color-emirald);
  color: var(--color-white);
  transition: background-color 0.3s ease, color 0.3s ease;
}

.green-btn:hover {
  background-color: var(--color-jade);
  color: var(--color-white);
  transition: background-color 0.3s ease, color 0.3s ease;
}

.green-btn svg {
  fill: #fff;
}

.btn-small {
  height: 1.75rem;
  /* font-size: 0.75rem;
  font-weight: 500; */
}

.btn-small > span {
  font-size: 0.75rem;
  font-weight: 500;
}

.select-all-btn-arrow svg {
  transform: rotate(-90deg);
}

.black-icon svg {
  fill: var(--color-black);
}
