/*wait-list card*/

.wait-list {
  margin-top: 5.2rem;
}

.wait-list__item {
  background-color: var(--color-alabaster);
  border-radius: 8px;
  margin-bottom: 30px;
  cursor: move;
}

.wait-list__item > div:not(:last-child) {
  display: grid;
  grid-template-columns: 190px 1fr;
  row-gap: 12px;
  padding: 12px;
}

.wait-list__item > .actions-btns {
  padding: 12px;
  justify-content: end;
}

.wait__item-btns {
  display: grid;
  grid-template-columns: repeat(2, min-content);
  column-gap: 8px;
  padding: 12px;
  justify-content: end;
  grid-column: 1/3;
}

.wait-list__item div:nth-child(2) {
  border-top: 1px solid var(--color-mercury);
  border-bottom: 1px solid var(--color-mercury);
}

.card__label-main-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

.card__label {
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
  color: var(--color-dusty-gray);
}

.card__label-bold {
  font-weight: 500;
  color: var(--color-dusty-gray);
}

.card-delete-btn {
  background-color: var(--color-white);
}

.card__edit-block {
  display: grid;
  grid-template-columns: 330px min-content 1fr;
  column-gap: 10px;
  /*align-items: flex-start;*/
}

.card__edit-block svg {
  fill: var(--color-dusty-gray);
}

.card__edit-block svg:hover {
  fill: var(--color-scorpion);
  cursor: pointer;
}

.wait__item-edit-btns {
  display: grid;
  grid-template-columns: repeat(2, min-content);
  column-gap: 8px;
  padding: 12px;
  justify-content: end;
}

.wait-list-btn {
  height: 28px;
  font-size: 13px;
}

.mc-temp-card {
  border-radius: 8px;
  background-color: var(--color-alabaster);
  padding: 16px;
  cursor: alias;
  grid-column: 1/3;
  border: 1px solid transparent;
  transition: border 0.3s ease;
}

.mc-temp-card:hover {
  border: 1px solid var(--color-azure-radiance);
  transition: border 0.3s ease;
}

.wait__spec-fixed-wrapper {
  position: absolute;
  left: 20px;
  right: 20px;
  background: white;
  width: 580px;
}

.wait__spec--fixed {
  position: fixed;
  width: inherit;
  background: white;
  /* margin-top: -20px; */
  height: 98px;
  padding-top: 20px;
}
