.v-data-table__wrapper {
    background-color:  var(--body-background);
}

.v-icon.v-icon {
    color: var(--color-cod-gray);
}

.v-select,
.vs__dropdown-toggle,
.vs__dropdown-menu ,
.vs--disabled .vs__clear, .vs--disabled .vs__dropdown-toggle,
.vs--disabled .vs__open-indicator,
.vs--disabled .vs__search,
.vs--disabled .vs__selected,
.vs__search, .vs__search:focus{
    background-color: var(--body-background) !important;
    background: var(--body-background) !important;
    color:  var(--color-cod-gray)
}

.custom-dark-theme .vs__open-indicator,
.custom-dark-theme  .vs--disabled .vs__clear, .vs--disabled .vs__dropdown-toggle, .vs--disabled .vs__open-indicator, .vs--disabled .vs__search, .vs--disabled .vs__selected {
    fill:  var(--color-cod-gray) !important;
}

.vs__dropdown-toggle {
   border: 1px solid var(--color-mercury) !important;
}



