.modal-container {
  padding: 20px;
  position: absolute;
  border: 1px solid var(--color-mercury);
  box-shadow: var(--box-shadow);
  background-color: var(--color-white);
  border-radius: 12px;
  max-width: 1200px;
  width: 100%;
  top: 80px;
  left: 50%;
  overflow-x: hidden;
  transform: translate(-50%, 0);
  overflow-y: auto;
  max-height: calc(100vh - 80px);
}

.modal-container.mc-temp-wrapper {
  overflow: hidden;
  isolation: isolate;
}

.total-modal {
  top: 20%;
  padding: 20px;
  left: 50%;
  transform: translate(-50%, 10px);
}

.modal-dark-wrapper {
  position: absolute;
  inset: 0;
  z-index: 60;
  background-color: var(--color-modal);
}

.modal__container {
  display: grid;
  grid-template-columns: min-content 1fr;
  row-gap: 18px;
  column-gap: 20px;
  padding-top: 1.5rem;
}

.modal__all-select {
  position: relative;
  justify-self: end;
  display: flex;
  align-items: center;
  align-self: start;
}

.modal__select {
  grid-column: 1/3;
}

.modal__all-select > button:first-child {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.modal__all-select > button:nth-child(2) {
  border-radius: 0;
}

.modal__all-select > button:nth-child(3) {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.modal__checkboxes {
  display: grid;
  row-gap: 12px;
}

.modal__checkboxes label {
  text-align: left;
}

.modal__content {
  display: grid;
  max-width: 100%;
  gap: 20px;
  grid-template-areas:
    'patient spec';
  align-items: start;
  padding: var(--spacing-m) 0;
}

.modal-total {
  display: grid;
  column-gap: 12px;
  row-gap: 18px;
  align-items: center;
  grid-template-columns: max-content 1fr min-content;
}

.modal__content-left {
  grid-area: patient;

}

.modal__content-right {
  grid-area: spec;
}

.modal__content-bottom {
  /* grid-area: appoint;
  margin-bottom: 1.25rem; */
}

.operation__item {
  background-color: red;
  border: 2px dashed blue;
}

.mc-modal {
  position: absolute;
  top: 66px;
  left: 100px;
  background-color: var(--color-white);
  padding: 20px;
  border: 1px solid var(--color-mercury);
  border-radius: 8px;
}

.mc-modal .checkbox span {
  white-space: nowrap;
}

.ms-menu-modal {
  top: 20px;
  transform: translate(56%, 0);
  padding: 0;
}

.ms-menu-modal li {
  transition: background-color 0.3s ease;
}

.ms-menu-modal li:hover {
  background-color: var(--color-mercury);
  transition: background-color 0.3s ease;
}

.dialogs-container {
  max-height: calc(100vh - 160px);
  scrollbar-width: 0;
  overflow-y: scroll;
}

/* menu */
.menu-list {
  display: grid;
  background: var(--color-white);
  border: 1px solid var(--color-mercury);
  border-radius: 8px;
}

.menu-item {
  display: grid;
  grid-template-columns: min-content 1fr;
  column-gap: 8px;
  transition: background-color 0.3s ease;
  cursor: pointer;
  padding: 4px 8px;
  position: relative;
}

.menu-item:hover {
  background-color: var(--color-mercury);
  transition: background-color 0.3s ease;
}

.menu-item-forward svg {
  transform: scaleX(-1);
  fill: var(--color-dusty-gray);
}

.is-dark {
  background-color: var(--color-modal-dark);
  position: absolute;
  transform: initial;
  inset: 0;
  z-index: 300;
  max-width: 100%;
  max-height: 100vh;
  overflow: hidden;
  isolation: isolate;
}

/* модалка центра сообщений*/
/* .ms-template-modal {
  padding: 20px;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, 0);
  bottom: 10%;
  overflow: hidden;
  background: white;
  border-radius: 8px;
} */

.mc-temp-wrapper {
  /* width: 400px; */
  overflow: hidden;
  isolation: isolate;
  display: grid;
  grid-template-rows: min-content minmax(200px, 1fr);
  height: 100%;
}

.mc-temp-wrapper .search-component {
  /*grid-column: 1/3;*/
}

.modal-templates__content {
  display: grid;
  grid-template-columns: 1fr min-content;
  grid-template-rows: 40px;
  gap: 20px;
  scrollbar-width: none;
}

.mc-templ-content {
  display: grid;
  grid-auto-rows: min-content;
  row-gap: 10px;
  grid-column: 1/3;
  overflow-y: scroll;
  scrollbar-width: none;
  height: 63vh;
}

.search-content {
  display: grid;
  grid-auto-rows: min-content;
  grid-template-columns: 1fr min-content;
  column-gap: 20px;
}

.presets {
  position: absolute;
  top: 46px;
  z-index: 150;
  left: 0;
  right: 0;
  border: 1px solid var(--color-mercury);
  border-radius: 8px;
  background: var(--color-white);
}

.add-preset {
  position: relative;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.add-preset input {
  outline: none;
  padding: 4px;
  margin-bottom: 16px;
  box-sizing: border-box;
  width: 100%;
  border: none;
  border-bottom: 1px solid var(--color-mercury);
  overflow-x: hidden;
}

.preset-error {
  position: absolute;
  color: red;
  font-size: 10px;
  left: 10px;
}

.add-preset > .base-btn {
  padding: 4px 8px;
  height: 26px;
}

.add-preset > .base-btn span {
  font-size: 12px;
}

.presets__item {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px;
  transition: background-color 0.3s ease;
}

.presets__item:hover {
  background-color: var(--color-mercury);
  transition: background-color 0.3s ease;
}

.presets__item .cross {
  position: static;
}

.patient__link {
  display: flex;
  align-items: center;
}

.appoint-grid__item {
  grid-column: 2/4;
}

/* visit */

.visit-top-btns {
  justify-self: end;
  display: grid;
  grid-template-columns: repeat(2, min-content);
  gap: 1rem;
}

.box__header {
  border-bottom: 1px solid var(--color-mercury);
  padding-bottom: 16px;
}

.appoint-modal-visit {
  display: grid;
  grid-template-columns: repeat(2, min-content) 1fr min-content;
  gap: 16px;
  align-items: center;
}

.services-block-form {
  display: grid;
  gap: 16px;
  grid-template-columns: minmax(max-content, 120px) 1fr max-content;
  align-items: center;
}

.appoint-modal__visit {
  row-gap: var(--spacing-xxm);
}

.service-block-header {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.form__item {
  display: grid;
  grid-template-columns: minmax(max-content, 120px) minmax(min-content, 480px) max-content;
  gap: 16px;
  align-items: center;
}

.visit-badges {
  display: grid;
  grid-template-columns: repeat(2, max-content);
  gap: 16px;
}

.visit-modal {
  height: 600px;
}

.visit-modal .text-lg-500 {
  padding: 0.75rem 0;
}

.visit-form {
  row-gap: var(--spacing-xm);
  padding: var(--spacing-xm);
}
